doctype html
html
  head
    meta(charset="utf-8")
    link(rel="icon" type="image/png" href="favicon.ico")

    title BitcoinersWithoutBorders
    link(rel="stylesheet" href="/css/main.css")

  body
    #wrapper
      #container
        header
          a#logo(href="/")
            img(alt="BitcoinersWithoutBorders" src="/img/bwb-logo.png" height="50" width="74")
          div#branding
            h1#title BitcoinersWithoutBorders
            block headerlink

        block content
          div default content
